<section class="detail">
  <aside class="detail__menu">
    <ol class="detail__menu__itens">
      <li><a href="#the-challenge">The challenge</a></li>
      <li><a href="#solution">Solution</a></li>
      <li><a href="#impact">Impact</a></li>
      <li><a href="#detail__footer">My role</a></li>
    </ol>
  </aside>

  <header class="detail__header">
    <div class="detail__header__title">Hello</div>
    <div class="detail__header__longDescription"></div>
    <div class="detail__header__img"></div>
  </header>

  <section class="detail__body">
    <section id="the-challenge">
      <div class="detail__introduction__outline"></div>
      <div class="detail__introduction__display"></div>
      <div class="detail__introduction__body"></div>
    </section>

    <section id="solution">
      <div class="detail__introduction__outline"></div>
      <div class="detail__introduction__display"></div>
      <div class="detail__introduction__body"></div>
    </section>

    <section id="impact">
      <div class="detail__introduction__outline"></div>
      <div class="detail__introduction__display"></div>
      <div class="detail__introduction__body"></div>
    </section>
  </section>

  <footer id="detail__footer">
    <div></div>
  </footer>
</section>
