<section class="detail">
  <aside class="detail__menu">
    <ol class="detail__menu__itens">
      <li *ngFor="let item of project.Sections">
        <a (click)="scroll(item.id)">{{ item.Section_outline }}</a>
      </li>
    </ol>
  </aside>

  <header class="detail__header">
    <div class="detail__header__title">Initiatives for a design system</div>
    <div class="detail__header__description">
      Content consumption was increased by 10% when we improved the search
      experience.
    </div>
    <div class="detail__header__img"></div>
  </header>

  <section class="detail__body">
    <app-project-section
      class="detail__body__section"
      *ngFor="let item of project.Sections"
      [section]="item"
      id="section-{{ item.id }}"
    ></app-project-section>
  </section>

  <div class="detail__right__spacing"></div>

  <section class="detail__comment">
    <h5 class="detail__comment__title">Leave a comment</h5>
    <form class="detail__comment__form">
      <label for="author">Autor</label>
      <input
        type="text"
        class="input"
        id="author"
        name="author"
        placeholder="Leave here your name"
        [value]="comment.author"
      />
      <label for="email">Email</label>
      <input
        type="email"
        class="input"
        id="email"
        name="email"
        placeholder="Leave your email"
        [value]="comment.email"
      />
      <label for="content">Mensagem</label>
      <input
        type="textarea"
        class="input"
        id="comment"
        name="comment"
        placeholder="Leave here your thoughts and feelings about this project"
        [value]="comment.content"
      />
      <md-outlined-button class="send-comment" (click)="addComment()"
        >Send comment</md-outlined-button
      >
    </form>
  </section>
</section>
