/* Menu container*/
header {
    display: flex;
    justify-content: center;
    background-color: #F1E3F9;
    width: 100%;
  }

/* Menu */
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   /*vertical alignment */
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
    min-width: 288px;
}


 /* Menu itens */
li{
    display: flex;
    list-style: none;
    align-items: center;
}

.linkedin-logo a{
    display: flex;
    list-style: none;
    align-items: center;
}

.linkedin-logo {
    display: flex;
    align-items: center;
}

.linkedin-logo svg{
    height: 56px;
    width: auto;
    cursor: pointer;
}

h4{
    text-align: center;
    cursor: pointer;
    margin:0;
    font-family: var(--md-sys-typescale-headline-medium-font);
    line-height: var(----md-sys-typescale-headline-medium-line-height);
    font-size: var(--md-sys-typescale-headline-medium-size);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
}

md-outlined-button {
    --md-outlined-button-container-shape:32px;
    --md-outlined-button-container-height: 56px;
    --md-outlined-button-label-text-color: var(--md-sys-color-primary);
    --md-outlined-button-label-text-font: var(--md-sys-typescale-label-medium-font);
    --md-outlined-button-label-text-line-height: var(--md-sys-typescale-label-medium-line-height);
    --md-outlined-button-label-text-size: var(--md-sys-typescale-label-medium-size);
    --md-outlined-button-label-text-weight: var(--md-sys-typescale-label-medium-weight);
    --md-outlined-button-outline-color: var(--md-sys-color-primary);
    --md-outlined-button-outline-width: 2px;
    --md-outlined-button-focus-label-text-color: var();
    --md-outlined-button-hover-label-text-color: var();
    --md-outlined-button-hover-state-layer-color: var();
    --md-outlined-button-hover-state-layer-opacity: var();
    --md-outlined-button-pressed-label-text-color: var();
    --md-outlined-button-pressed-outline-color: var();
    --md-outlined-button-pressed-state-layer-color: var();
    --md-outlined-button-pressed-state-layer-opacity: var();
  }

.linkedin-logo:hover,
.menu h4:hover:hover {
    transform: scale(1.1);
    transition: 0.7s all;
    opacity: 0.8;
}

/* Responsive layouts */

/* Extra-small */
@media screen and (max-width: 599px) {
    .menu{
        width: 100%;
        margin: 16px;
    }

   .linkedin-logo{
        display: none;
    }

    .title{
        text-align: left;
        margin-left: 0;
    }
    
    h4{
        font-family: var(--md-sys-typescale-headline-small-font);
        line-height: var(----md-sys-typescale-headline-small-line-height);
        font-size: var(--md-sys-typescale-headline-small-size);
        font-weight: var(--md-sys-typescale-headline-small-weight);
    }
}

/* Small */
@media screen and (min-width: 600px) and (max-width: 904px) {
    .menu{
        width: 100%;
        margin-left: 32px;
        margin-right: 32px;
    }
}

/* Medium */
@media screen and (min-width: 905px) and (max-width: 1239px) {
    .menu{
        width: 890px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large */
@media screen and (min-width: 1240px) and (max-width: 2300px) {
    .menu{
        width: 100%;
        margin-left: 200px;
        margin-right: 200px;
    }
}