<header class="header">
  <ul class="header__menu">
    <li class="header__menu__linkedin-logo">
      <img src="../../../assets/logos/linkedin-logo.svg" /><a
        href="https://www.linkedin.com/in/raquelvilas/"
      ></a>
    </li>
    <li class="header__menu__title"><h4 routerLink="/projects">Test</h4></li>
    <li>
      <a href="mailto:quelvilas@gmail.com"
        ><md-outlined-button class="header__menu__button"
          >Contact</md-outlined-button
        ></a
      >
    </li>
  </ul>
</header>
