/* Containers*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical alignment */
    align-items: center;   /*horizontal alignment */
    background-color: none;
    min-width: 288px;
    width: 100%;
    padding-top:80px;
  }

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*horizontal alignment */
    align-items: center;   /*vertical alignment */
    width: 100%;
    flex-wrap: wrap;
}  

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: center; /*horizontal alignment */
    align-items: center;   /*vertical alignment */
    width: 100%;
}    

.img{
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical alignment */
    align-items: center;   /*horizontal alignment */
    width: 100%;
}    


/* Containers itens */
.about-me img{
    width: 288px;
    object-fit: contain;
}

.about-me .text{
    font-family: var(--md-sys-typescale-body-large-font);
    line-height: var(--md-sys-typescale-body-large-line-height);
    font-size: var(--md-sys-typescale-body-large-size);
    font-weight: var(--md-sys-typescale-body-large-weight);
    width: 100%;
}


/* Responsive layouts */

/* Extra-small */
@media screen and (max-width: 599px) {
    section{
        width: 100%;
        margin: 16px;
    }

    .about-me{
        flex-direction: column;
    }    
}

/* Small */
@media screen and (min-width: 600px) and (max-width: 904px) {
    section{
        width: 100%;
        margin-left: 32px;
        margin-right: 32px;
    }
}

/* Medium */
@media screen and (min-width: 905px) and (max-width: 1239px) {
    section{
        width: 890px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large */
@media screen and (min-width: 1240px) and (max-width: 2300px) {
    section{
        width: auto;
        margin-left: 100px;
        margin-right: 100px;
    }
}