<section class="projects">
  <div *ngFor="let item of listOfProjects">
    <!--for each item from the array created by this class attribute-->
    <app-project-card
      [project]="item"
      class="projects__project"
      (click)="showDetails(item.id)"
    ></app-project-card>
    <!--use property binding and consider that the item has the structure provided by the child (project) decorated with an @Input-->
  </div>
</section>

<section class="about-me">
  <p class="about-me__text">
    I love building connections between
    <strong>design and technology</strong> and to impact people through it.<br /><br />
    I am also a passionate learner.<br /><br />Played different roles in the
    past, from HR to Product Design. Currently challenging myself with front end
    programming.
  </p>
  <img
    class="about-me__img"
    src="../../../assets/Photo-Raquel.png"
    alt="Photo of Raquel"
  />
</section>
