<section class ="projects">
    <app-project-card class="projects__project"
        [imageSource]="imagePath1"
        [imageAlt]="imageAlt1"
        [title]="title1"
        [description]="description1"
    ></app-project-card>
    <app-project-card class="projects__project"
        [imageSource]="imagePath2"
        [imageAlt]="imageAlt2"
        [title]="title2"
        [description]="description2"
    ></app-project-card>
    <app-project-card class="projects__project"
        [imageSource]="imagePath3"
        [imageAlt]="imageAlt3"
        [title]="title3"
        [description]="description3"
    ></app-project-card>
</section>

<section class ="about-me">
    <p class="about-me__text">
        I love building connections between <strong>design and technology</strong> and to impact people through it.<br><br>
        I am also a passionate learner.<br><br>Played different roles in the past, from HR to Product Design. Currently challenging myself with front end programming.
    </p>
    <img class="about-me__img" src="../../../assets/Photo-Raquel.png" alt="Photo of Raquel">
</section>