/* Containers */
.card-container{
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*vertical alignment */
    align-items: center;   /*horizontal alignment */
    background-color: none;
    cursor: pointer;
}

.card-container:hover{
    transform: scale(1.1);
    transition: 0.7s all;
    opacity: 0.8;
    background-color: var(--md-ref-palette-primary90);
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*vertical alignment */
    align-items: flex-start;   /*horizontal alignment */
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*vertical alignment */
    align-items: flex-start;   /*horizontal alignment */
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    padding: 0px;
    list-style-type: none;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

/* Containers itens */
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.text li:nth-child(1){
    font-family: var(--md-sys-typescale-display-small-font);
    line-height: var(--md-sys-typescale-display-small-line-height);
    font-size: var( --md-sys-typescale-display-small-size);
    font-weight: var(--md-sys-typescale-display-small-weight);
    margin-bottom: 16px;
}

.text li:nth-child(2){
    font-family: var(--md-sys-typescale-body-large-font);
    line-height: var(--md-sys-typescale-body-large-line-height);
    font-size: var(--md-sys-typescale-body-large-size);
    font-weight: var(--md-sys-typescale-body-large-weight);
}


/* Responsive layouts */

/* Extra-small and Small*/
@media screen and (max-width: 904px) {
    .card-container{
        width: 288px;
        height: 514px;
    }

}


/* Medium and Large*/
@media screen and (min-width: 905px) and (max-width: 2300px) {
    .card-container{
        width: 360px;
        height: 554px;
    }
}
