/* Containers */
.card {
  background-color: var(--md-sys-color-surface-container);
  border-radius: var(--app-border-standard-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*vertical alignment */
  align-items: center; /*horizontal alignment */
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.7s all;
  opacity: 0.8;
  background-color: var(--md-ref-palette-primary90);
}

.card__img {
  display: flex;
  box-sizing: border-box;
  border-radius: 32px 32px 0 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*vertical alignment */
  align-items: flex-start; /*horizontal alignment */
  width: auto;
  margin-top: var(--app-spacing-horizontal-micro);
  margin-bottom: var(--app-spacing-horizontal-small);
  margin-left: var(--app-spacing-vertical-small);
  margin-right: var(--app-spacing-vertical-small);
}

.card__content__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*vertical alignment */
  align-items: flex-start; /*horizontal alignment */
  width: 100%;
  padding: 0px;
  list-style-type: none;
  gap: var(--app-spacing-horizontal-nano);
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Containers itens */
.card__img__src {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 32px 32px 0 0;
}

.card__img .glow {
  position: absolute;
  top: 15%;
  left: 50%;
  translate: transform(50%, 50%);
  opacity: 60%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #f0f,
    /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
}

.card__content__text li:nth-child(1) {
  font-family: var(--md-sys-typescale-headline-medium-font);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
  font-size: var(--md-sys-typescale-headline-medium-size);
  font-weight: var(--md-sys-typescale-headline-medium-weight);
  margin-bottom: var(--app-spacing-horizontal-micro);
}

.card__content__text li:nth-child(2) {
  font-family: var(--md-sys-typescale-body-small-font);
  line-height: var(--md-sys-typescale-body-small-line-height);
  font-size: var(--md-sys-typescale-body-small-size);
  font-weight: var(--md-sys-typescale-body-small-weight);
}

.material-symbols-sharp {
  font-size: 40px;
  align-self: center;
  margin-bottom: var(--app-spacing-horizontal-small);
  margin-left: var(--app-spacing-vertical-small);
  background: none;
  border: none;
  color: var(--md-ref-palette-primary50);
}

.material-symbols-sharp:hover {
  transform: scale(1.1);
  transition: 0.7s all;
  opacity: 0.8;
}

.inactive {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 40;
}

.active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 200, "opsz" 40;
}

md-filled-button {
  width: auto;
  margin-right: var(--app-spacing-vertical-small);
  margin-bottom: var(--app-spacing-horizontal-small);
}

/* Responsive layouts */

/* Extra-small */
@media screen and (max-width: 599px) {
  .card {
    min-width: 288px;
  }

  .card__content__text li:nth-child(1) {
    font-family: var(--md-sys-typescale-headline-medium-font);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    font-size: var(--md-sys-typescale-headline-medium-size);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    margin-bottom: var(--app-spacing-horizontal-micro);
  }

  .card__content__text li:nth-child(2) {
    font-family: var(--md-sys-typescale-body-small-font);
    line-height: var(--md-sys-typescale-body-small-line-height);
    font-size: var(--md-sys-typescale-body-small-size);
    font-weight: var(--md-sys-typescale-body-small-weight);
  }

  .material-symbols-sharp-active {
    margin-bottom: var(--app-spacing-horizontal-small);
    margin-left: var(--app-spacing-vertical-small);
  }
}

/* Small */
@media screen and (min-width: 600px) and (max-width: 904px) {
  .card {
    min-width: 288px;
  }

  .card__content__text li:nth-child(1) {
    font-family: var(--md-sys-typescale-headline-medium-font);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    font-size: var(--md-sys-typescale-headline-medium-size);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    margin-bottom: var(--app-spacing-horizontal-micro);
  }

  .card__content__text li:nth-child(2) {
    font-family: var(--md-sys-typescale-body-small-font);
    line-height: var(--md-sys-typescale-body-small-line-height);
    font-size: var(--md-sys-typescale-body-small-size);
    font-weight: var(--md-sys-typescale-body-small-weight);
  }
}

/* Medium */
@media screen and (min-width: 905px) and (max-width: 1239px) {
  .card {
    min-width: 260px;
  }

  .card__content__text li:nth-child(1) {
    font-family: var(--md-sys-typescale-headline-medium-font);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    font-size: var(--md-sys-typescale-headline-medium-size);
    font-weight: var(--md-sys-typescale-headline-medium-weight);
    margin-bottom: var(--app-spacing-horizontal-micro);
  }

  .card__content__text li:nth-child(2) {
    font-family: var(--md-sys-typescale-body-small-font);
    line-height: var(--md-sys-typescale-body-small-line-height);
    font-size: var(--md-sys-typescale-body-small-size);
    font-weight: var(--md-sys-typescale-body-small-weight);
  }
}

/* Large */
@media screen and (min-width: 1240px) and (max-width: 2300px) {
  .card {
    min-width: 270px;
  }
}
