<div class="card">
  <div class="card__header" *ngIf="thereIsUtils" {{ utils }}></div>

  <div class="card__body">
    <div class="card__img">
      <img class="card__img__src" src="{{ project.Project_thumbnail }}" />
    </div>

    <div class="card__content">
      <ul class="card__content__text">
        <li>{{ project.Project_title }}</li>
        <li>{{ project.Project_short_description }}</li>
      </ul>
    </div>
  </div>

  <div class="card__footer">
    <button
      class="material-symbols-sharp"
      (click)="updateFavorite()"
      [ngClass]="favoriteState()"
    >
      favorite
    </button>
    <md-filled-button>Explore</md-filled-button>
  </div>
</div>
