<div class="card">
  <div class="card__header" *ngIf="thereIsUtils" {{ utils }}></div>

  <div class="card__body">
    <div class="card__img">
      <img
        class="card__img__src"
        src="{{ project.imageSource }}"
        alt="{{ project.imageAlt }}"
      />
    </div>

    <div class="card__content">
      <ul class="card__content__text">
        <li>{{ project.title }}</li>
        <li>{{ project.description }}</li>
      </ul>
    </div>
  </div>

  <div class="card__footer">
    <md-filled-button>Explore</md-filled-button>
  </div>
</div>
